<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
			<p>&copy 2020 Leo Speidel.</p>
		</div>
		<div class="col-sm-4">
		
		</div>
		<div class="col-sm-4">
		  Contact details:<br />
			<a href="https://twitter.com/leo_speidel/"><i class="fa fa-twitter-square" style="font-size:22px"></i></a>&nbsp;
			<a href="https://www.linkedin.com/in/leo-speidel/"><i class="fa fa-linkedin" style="font-size:22px"></i></a>&nbsp;
			<a href="mailto:leo.speidel@outlook.com"><i class="fa fa-envelope" style="font-size:22px"></i></a>	
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
